In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./movies.csv",encoding='utf-8')

In [3]:
df.head(2)

,Unnamed: 0,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,month,day
0,0,toy story collection,30000000,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],...,81.0,['English'],Released,NaN,Toy Story,7.7,1995,12.451801,octubre,lunes
1,1,NaN,65000000,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],...,104.0,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035,diciembre,viernes

In [4]:
df.isnull().sum()

Unnamed: 0                   0
belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24978
title                        0
vote_average                 0
release_year                 0
return                       0
month                        0
day                          0
dtype: int64

In [ ]:
df.drop([''])