### Librerias

In [113]:
#importamos las librerias requeridas
import pandas as pd
import ast
import locale
import numpy as np

### Lectura del archivo csv

In [114]:
#pedimos que lea el archivo csv con pandas
df = pd.read_csv("./data/movies_dataset.csv", encoding='utf-8')

/tmp/ipykernel_8053/1821739110.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/movies_dataset.csv", encoding='utf-8')

In [115]:
#dataframe original
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### ETL

In [116]:
#vemos cuantos valores existen en la columna 'revenue'
df['revenue'].isna().sum()

6

In [117]:
#Pasamos los valores nulos o vacios de 'revenue' con 0
df['revenue'] = df['revenue'].fillna(0)

In [118]:
#verificamos cuantos valores nulos hay en la columna revenue
df['revenue'].isnull().sum()

0

In [119]:
#Pasamos los valores nulos o vacios de 'revenue' con 0
df['budget'] = df['budget'].fillna(0)

In [120]:
#verificamos si funcionÃ³
df.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      0
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [121]:
# aca reemplace las fechas dejando de lado los errores
df['release_date'] = pd.to_datetime(df['release_date'], format='%Y-%m-%d', errors='coerce')

In [122]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [123]:
df.dropna(subset=['release_date'], inplace=True)
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['release_year'] = df['release_date']
df['release_year'] = (df['release_date']).dt.year

In [124]:
#reordenamos
def fetch_name(obj):
    if isinstance(obj, str) and ('{' in obj or '[' in obj):
        obj = ast.literal_eval(obj)
        if isinstance(obj, list):
            return [d['name'] for d in obj]
        elif isinstance(obj, dict):
            return obj['name']
    else:
        return obj

df['genres'] = df['genres'].apply(fetch_name)
df['belongs_to_collection'] = df['belongs_to_collection'].apply(fetch_name)
df['production_companies'] = df['production_companies'].apply(fetch_name)
df['production_countries'] = df['production_countries'].apply(fetch_name)
df['spoken_languages'] = df['spoken_languages'].apply(fetch_name)

In [125]:
df['belongs_to_collection'].isna().sum()

40888

In [126]:
#converti a numÃ©ricos los valores de la columna budget 
df['budget'] = pd.to_numeric(df["budget"],errors="coerce")

In [127]:
def col_return(row):
    revenue = row['revenue']
    budget = row['budget']
    if pd.isnull(revenue) or pd.isnull(budget) or budget == 0:
        return 0
    return revenue / budget

df['return'] =df.apply(col_return, axis=1)

In [128]:
#eliminamos las columnas que no serÃ¡n utilizadas, video,imdb_id,adult,original_title,vote_count,poster_path y homepage.
df.drop(['video', 'imdb_id','adult','original_title','vote_count','poster_path','homepage'], axis=1, inplace=True)

In [129]:
df.isna().sum()

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24978
title                        0
vote_average                 0
release_year                 0
return                       0
dtype: int64

In [130]:
#Para sacar la columna en mes creamos una columna llamada "month" 
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')
formato_fecha = '%B'  # %B representa el nombre completo del mes en letras

# Aplica el formato y asigna el resultado a una nueva columna 'month_name'
df['month'] = df['release_date'].dt.strftime(formato_fecha)

In [131]:
#Para sacar la columna dÃ­as de la semana creo una columna nueva llamada "day" para filtrar por dia

locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')
df["day"] = df['release_date'].dt.strftime('%A').apply(lambda x: x.capitalize() if type(x) != float else x).str.lower()

In [132]:
#quitamos las tildes a mano de la columna day para que nos pueda leer los dias miercoles y sabado
df["day"] = df["day"].replace("miÃ©rcoles", "miercoles")
df["day"] = df["day"].replace("sÃ¡bado", "sabado")

In [133]:
# En la columna de belongs_to_collection lo pasaremos a todo con minusculas con lower
df['belongs_to_collection']=df['belongs_to_collection'].str.lower()

#### Exportar el Dataframe

In [134]:
# Al final exportamos el DataFrame con una extension de csv
df = pd.DataFrame(df)
df.to_csv("movies.csv")